<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="form-group">
                <label>Bienvenido al ejemplo de prueba</label>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Figura
                    </th>
                    <th>
                        Area
                    </th>
                    <th>
                        Perimetro
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="figura,row : ${figuras}">
                    <td th:text="${#ids.seq('')}">

                    </td>
                    <!--td th:text="${figura.numeroLados}"></td-->
                    <td th:switch="${figura.numeroLados}">
                        <p th:case = "3">Triangulo</p>
                        <p th:case = "4">Cuadrado</p>
                        <p th:case = "6">Hexagono</p>
                    </td>
                    <td th:text="${figura.area}"></td>
                    <td th:text="${figura.perimetro}"></td>
                    <td>

                        <a href="/Eliminar.html" th:href="@{/Eliminar(id=${row.index})}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    </td>
                </tr>
                <tr class="info">
                    <td th:text="${#ids.seq('')}"></td>
                    <td th:text="-----"></td>
                    <td th:text="${areaTotal}"></td>
                    <td th:text="${perimetroTotal}"></td>
                </tr>
                </tbody>
            </table>
            <div class="alert alert-warning" role="alert" th:if="*{error != null}" th:text="${error}">
                <label th:text="${error}"></label>
            </div>
            <!--div class="col-md-12 column">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            <button type="submit" class="btn btn-default">Adicionar</button>
            </div-->
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <label>Adicionar Cuadrado</label>
                <form class="form-inline" th:action="@{/adicionarCuadrado}" method="post" role="form">
                    <div class="form-group" >
                        <label for="lado">Lado</label>
                        <input type="text" class="form-control" id="lado" name="lado"/>
                    </div>
                    <button type="submit" class="btn btn-default">Adicionar</button>
                 </form>
            </div>
            <div class="col-md-6">
                <label>Adicionar Hexagono</label>
                <form class="form-inline" th:action="@{/adicionarHexagono}" method="post" role="form">
                    <div class="form-group" >
                        <label for="radio">Radio</label>
                        <input type="text" class="form-control" id="radio" />
                    </div>
                    <button type="submit" class="btn btn-default">Adicionar</button>
                </form>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="col-md-12">
            <div class="col-md-12">
                <label>Adicionar Triangulo</label>
                <form class="form-inline" th:action="@{/adicionarTriangulo}" method="post" role="form">
                    <div class="form-group" >
                        <label for="altura">Altura</label>
                        <input type="text" class="form-control" id="altura" />
                    </div>
                    <div class="form-group" >
                        <label for="base">Base</label>
                        <input type="text" class="form-control" id="base" />
                    </div>
                    <div class="form-group" >
                        <label for="hipotenusa">Hipotenusa</label>
                        <input type="text" class="form-control" id="hipotenusa" />
                    </div>
                    <button type="submit" class="btn btn-default">Adicionar</button>
                </form>
        </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="form-group">
                <a href="/consultarAreaTrabajo">Obtener Area de Trabajo por REST</a>
            </div>
        </div>
        <div class="col-md-12 column">
            <div class="col-md-4 colum">
                <a href="/enviarCorreo">EnviarCorreo         </a>
            </div>
            <div class="col-md-4 colum">
                <a href="/enviarCorreoAdjunto">EnviarCorreoAdjunto</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>